.column1{
    display: inline-flex;
    width:40px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
.column2{
    display: inline-flex;
    width: 50px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
.column3{
    display: inline-flex;
    width:90px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
.column4{
    display: inline-flex;
    width:60px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
.column5{
    display:inline-flex;
    width:70px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
.column6{
    display: inline-flex;
    width:50px;
    height:40px;
    border:1px solid;
    margin-bottom: 3px;
}
